@import "../../../partials/mixins";
@import "../../../partials/colors";

.card {
  width: 598px;
  background-color: $background-alt;
  padding: 14px 16px;
  margin: 6px 0;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  }

  &__meta {
    @include flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__img {
    width: 56px;
    height: 56px;
    padding: 5px;
    margin-right: 12px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 100%;
    border: 1px solid $light-border;
  }
  &__meta {
    margin-bottom: 10px;
  }
  &__name {
    @include label-5;
    margin-bottom: 6px;
    text-transform: capitalize;
  }
  &__title {
    @include input-1;
    text-transform: capitalize;
  }
  &__bio {
    @include body-3;
    margin-bottom: 12px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  &__availability-badge {
    @include badge-2;
    width: fit-content;
    padding: 6px 12px;
    background-color: #eff1fe;
    border-radius: 200px;
  }
}
