// background colours
$background: #f6f7f7;
$background-alt: #ffffff;
$background-btn: #4b286d;

// text colours
$text: #6e7178;
$text-dark: #3f4145;
$text-darker: #1c1e24;
$text-secondary: #6277f0;

// border colours
$light-border: #eeeeee;
$medium-border: #dfe1e6;
