@import "../../partials/mixins";
@import "../../partials/colors";

.profile {
  @include flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $background;
  // &__container {
  //   max-width: 804px;
  // }
  &__breadcrumb {
    @include input-1;
    padding: 24px 0;
  }
  &__breadcrumb-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;

    &:hover {
      border-bottom: 1px solid $text;
    }
  }
  &__breadcrumb-icon {
    padding: 0 8px;
  }
  &__provider {
    color: $text-dark;
  }
  &__wrapper {
    @include flex;
  }
  &__img {
    width: 289px;
    height: 289px;
    object-fit: cover;
    object-position: 50%;
    border: 1px solid $medium-border;
    margin-right: 20px;
  }
  &__info {
    width: 495px;
    background-color: $background-alt;
    padding: 24px 32px;
  }
  &__name {
    @include subheader-1;
    margin-bottom: 6px;
  }
  &__occupation {
    @include label-3;
    margin-bottom: 12px;
  }
  &__bio-container {
    padding-bottom: 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid $medium-border;
  }
  &__bio {
    @include body-3;
    transition: all 0.5s;
  }
  &__bio-truncated {
    @extend .profile__bio;
    // max-height: calc(20px * 5);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  &__read-more {
    @include label-4;
    cursor: pointer;
    color: #6277f0;
    margin-top: 16px;
    display: block;
    transition: color 0.5s;

    &:hover {
      color: #d0d6fb;
    }
  }
  &__details {
    @include flex;
    align-items: center;
    padding: 8px 0;
  }
  &__icon {
    margin-right: 16px;
  }
  &__label {
    @include input-1;
    margin-bottom: 6px;
  }
  &__data {
    @include label-3;
  }
  &__cta {
    @include book-cta;
    margin-top: 16px;
    transition: background-color 0.5s;

    &:hover {
      background-color: #613889;
    }
    &:focus {
      outline: 3px solid #80bdff;
    }
    &:visited {
      background-color: #371e47;
    }
  }
}
